[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
idna = "==2.9"

[packages]
aiohttp = "==3.7.4"
aiohttp-jinja2 = "==1.2.0"
setuptools = "*"
aiohttp-session = "==2.9.0"
cryptography = "==3.3.2"
asyncpg = "==0.20.1"
asyncpgsa = "==0.26.1"
astroid = "==2.3.3"
async-timeout = "==3.0.1"
atomicwrites = "==1.3.0"
attrs = "==19.3.0"
cchardet = "==2.1.5"
certifi = "==2019.11.28"
cffi = "==1.14.0"
chardet = "==3.0.4"
colorama = "==0.4.3"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
more-itertools = "==8.2.0"
multidict = "==4.7.5"
pipenv = "==2018.11.26"
pluggy = "==0.13.1"
py = "==1.8.1"
pycparser = "==2.20"
pylint = "==2.4.4"
pyparsing = "==2.4.6"
requests = "==2.22.0"
six = "==1.14.0"
urllib3 = "==1.25.8"
virtualenv = "==16.7.9"
virtualenv-clone = "==0.5.3"
wcwidth = "==0.1.8"
wrapt = "==1.11.2"
yarl = "==1.4.2"
Jinja2 = "==2.11.1"
PyYAML = "==5.4"
Pillow = "==9.3.0"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.3.16"
aiohttp-sse = "*"

[requires]
python_version = "3.8"
