<!DOCTYPE html>
<html>
 <head>
   <title>Kitty Getter</title>
   <meta charset="utf-8">
   <link href="{{static('styles/common.css')}}" rel="stylesheet">
   <link href="{{static('styles/header.css')}}" rel="stylesheet">
   <link href="{{static('styles/content.css')}}" rel="stylesheet">
   <script src="{{static('scripts/script.js')}}"></script>
 </head>
 <body>
	<div class="page">
		<div id="header-bar">
			<div id="logo-box">
				<img id="logo" src="{{static('icons/logo.png')}}" alt="Kitty Getter Logo">
			</div>
			<div class="title-box">
				<div class="title">
					<h2>Kitty Getter</h2>
				</div>
			</div>
		</div>
		<div id="content-bar">
			<div class="content-part" id="image-getter-part" onmouseover="activatePart('image-getter');" onmouseout="disactivatePart('image-getter');">
				<div class="part-title">
					<h2>Get Your Kitty</h2>
				</div>
				<form id="check-token" method="post" action="/post-token">
					<div id="token-input-field">
						<input type="text" placeholder="Your Token" name="token">
					</div>
					<div id="token-check-button">
						<input type="submit" value="Get Image">
					</div>
				</form>
				<div id="image">
					<img src="">
				</div>
			</div>
			<div class="content-part" id="token-adjusting-part" onmouseover="activatePart('token-adjusting');" onmouseout="disactivatePart('token-adjusting');">
				<div id="token-part">
					<div class="part-title" id="right-part-title">
						<h2>Get Your Token</h2>
					</div>
					<form id="get-token-part" method="get" action="/get-token">
						<div id="get-token-button" >
							<input type="submit" value="Get Token">
						</div>
					</form>
				</div>
				<div id="queue-tablet-part">
					<div class="part-title" id="queue-title">
						<h2>Token's Queue</h2>
					</div>
					<div id="token-queue">
						<div class="queue-column" id="first-column">
						</div>
						<div class="queue-column" id="second-column">
						</div>
						<div class="queue-column" id="third-column">
						</div>
						<div class="queue-column" id="forth-column">
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
 </body> 
</html>