<!DOCTYPE html>
<html>
 <head>
   <title>Kitty Getter</title>
   <meta charset="utf-8">
   <link href="{{static('styles/common.css')}}" rel="stylesheet">
   <link href="{{static('styles/header.css')}}" rel="stylesheet">
   <link href="{{static('styles/content.css')}}" rel="stylesheet">
   <script src="{{static('scripts/jquery-3.4.1.min.js')}}"></script>
   <script src="{{static('scripts/script.js')}}"></script>
 </head>
 <body>
	<div class="page">
		<div id="header-bar">
			<div id="logo-box">
				<a href="https://github.com/JuiceFV/Cats_Queue_Management_System" target="_blank">
					<img id="logo" src="{{static('icons/logo.png')}}" alt="Kitty Getter Logo">
				</a>
			</div>
			<div class="title-box">
				<div class="title">
					<h2>Kitty Getter</h2>
				</div>
			</div>
		</div>
		<div id="content-bar">
			<div class="content-part" id="image-getter-part" onmouseover="activatePart('image-getter');" onmouseout="disactivatePart('image-getter');">
				<div class="part-title">
					<h2>Get Your Kitty</h2>
				</div>
				<form id="check-token" method="post" action="/post-token">
					<div id="token-input-field">
						<input type="text" placeholder="Your Token" name="token-field" pattern="[A-Z]{1}[\d]{2}">
					</div>
					<div id="token-check-button">
						<input type="submit" value="Get Image">
					</div>
				</form>
				<div id="image-box">
					<img id="image" src="">
					<div class="loader-wrapper">
						<span class="loader">
							<img src="../static/icons/load-gif.gif">
						</span>
					</div>
				</div>
			</div>
			<div class="content-part" id="token-adjusting-part" onmouseover="activatePart('token-adjusting');" onmouseout="disactivatePart('token-adjusting');">
				<div id="token-part" style="display: flex;">
					<div class="part-title" id="right-part-title">
						<h2>Get Your Token</h2>
					</div>
					<form id="get-token-part" method="get" action="/get-token">
						<div id="get-token-button">
							<input type="submit" value="Get Token">
						</div>
					</form>
				</div>
				<div id="queue-tablet-part" style="display: flex;">
					<div class="part-title" id="queue-title">
						<h2>Token's Queue</h2>
					</div>
					<div id="token-queue">
						<div class="queue-column" id="first-column">
							{% if token_list %}
								{% if token_list|length <= 16 %}
									{% for token_el in token_list %}
										<div class="token-field">{{token_el.token}}</div>
									{% endfor %}
								{% else %}
									{% for i in range(16) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="queue-column" id="second-column">
							{% if token_list %}
								{% if token_list|length <= 32 %}
									{% for i in range(16, token_list|length) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% else %}
									{% for i in range(16, 32) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="queue-column" id="third-column">
							{% if token_list %}
								{% if token_list|length <= 48 %}
									{% for i in range(32, token_list|length) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% else %}
									{% for i in range(32, 48) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="queue-column" id="forth-column">
							{% if token_list %}
								{% if token_list|length <= 64 %}
									{% for i in range(48, token_list|length) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% else %}
									{% for i in range(48, 64) %}
										<div class="token-field">{{token_list[i].token}}</div>
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
				<div id="show-token-content" style="display: none;">
					<div id="return-button">
						<div id="return-button-box" onclick="returnBack();">
							<img src="{{static('icons/back-arrow.png')}}">
						</div>
					</div>
					<div id="show-token">
						<div id="timer">15 seconds remain</div>
						<div id="show-token-field">
							<div id="token"></div>
							<div id="copy-button" onclick="copyButton();">
								<img src="{{static('icons/coppy-button.png')}}">
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
 </body> 
</html>