/*CSS style for the document.*/

/*
1) height: 100vh;} Makes page coinciding with viewport. 
2) width: 100vw; }
*/
html{
	height: 100vh;
	width: 100vw;
}

/*
1) height: 100%; } Makes page fully stretched all over the window.
2) width: 100%;  }
3) margin: 0; - removes all margin, because my browser makes it 8px.
4) font-family: sans-serif; - setts the font for the whole page.
*/
body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
}

/*
1) display: flex; - display option, its makes work more comfortable.
2) flex-flow: column; - its makes possible the filling of remain height.
3) height: 100%; - stretches the height onto whole page.
*/
.page{
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*
cursor: pointer; - this option define cursor behavior, specifically when the cursor
within some button it will changes.
*/
input[type=button]{
	cursor: pointer;
}